body {
    background: grey;
}
.main  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.petBtn {
    background-image: url("pets.png");
    width: 360px;
    height: 360px;
    border-radius: 50vh;
    border: solid 15px darkblue;
}
.coin {
    width: 140px;
    height: 140px;
}
.energy {
    width: 140px;
    height: 140px;
}
.coinDiv {
    display: flex;
}
p {
    padding-left: 40px;
    color:white;
    font-size: 40px;
}
.energyDiv {
    display: flex;
}